body {
  font-size: 15px;
}
body.skin-blue {
  background: #e8f2d9;
}
.article-item {
  margin-bottom: 15px;
}
.article-item .article-title,
.article-item .article-title a {
  color: inherit;
  margin: 0;
}
.article-item .article-meta,
.article-item .article-meta a {
  color: #999;
  font-size: .85em;
}
.article-item .article-meta a {
  text-decoration: underline;
}
.article-item .article-thumb {
  margin-right: 10px;
  margin-bottom: 10px;
}
.article-item .article-text {
  margin-top: 7px;
}
html,
body {
  height: 100%;
  font-family:'Thai Sans Lite' !important;
  font-size: 18px;

}
h1,h2,h3,h4,h5,h6{
  font-family:'Thai Sans Lite' !important;
}
h1{
  font-size: 32px !important;
}
h2{
  font-size: 28px !important;
}
h3{
  font-size: 24px !important;
}
h4{
  font-size: 20px !important;
}
h5{
  font-size: 18px !important;
}
h6{
  font-size: 16px !important;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.content{
  min-height: 645px;
  /*margin-top: 50px;*/
}
footer{
  margin-left: 20%;
  text-align: center;
  clear: left;
  display: block;
  white-space: normal;
  text-align:justify;
  font-size: 16px;
  width: 700px;
  height:auto;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.btn {
  font-size: 18px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
/*# sourceMappingURL=style.map */

#inputRadio {
  display: inline-block;
  border: 1px solid #666666;
  border-color: #666666;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.headerExam .box-title {
  font-weight: 600;
  font-size: 20px  !important;
}
.frameExam {

}
.main-sidebar::-webkit-scrollbar-track {
  display: none;
}
.wrapper, .main-sidebar {
  background: #fff !important;
}
.frameExam #frameHeader {

}
.frameScrollBar {
  position: fixed;
  overflow: scroll;
  left:   300px;
  z-index: 1;
  height:100%;
}
.clickDiv {
  border: 1px solid;
  text-align: center;
  padding:10px;
}
.frameExamBody {
  background: #ddd;
}
.frameAsideRight #AsideRight {
  position: fixed;
  height: 100%;
  width: 65px;
  opacity: 0.7;
  overflow: auto;
  margin-right: -17px;
}
.frameAsideRight .control-sidebar>.tab-content {
  padding: 0px 0px;
}
.scrollDiv {
  border-top: 1px solid;
  padding: 5px;
}
input[type="radio"]:checked + #inputRadio {
  background-color:#3c8dbc;
  color: #fff;

}
input[type="checkbox"]:checked + #inputRadio {
  background-color:#6b2942;
  color: #fff;

}
#btnScrollLeft {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: transparent;
  color: #ddd;
  text-align: center;
}
#headbarTime {
  color:#222D32;
  vertical-align: middle;
}
#divHeaderBar {
  position: fixed;
  width: 100%;
}

.jump-panel {
  padding: 10px;
  width: 100%;
  max-height: 45vh;
  position:fixed;
  bottom: 0;
  z-index: 1050;
  background: #000;
  margin-left: -15px;
  border-top: 1px solid #888888;
  box-shadow: 10px 10px 5px #888888;
  opacity: 0.7;
  display: none;
  transition: max-height .3s;
}
.jump-panel.collapse {
  max-height: 0;
  padding: 0;
}
.jump-panel-toggle {
  cursor: pointer;
  background: #000;
  z-index: 1050;
  top: -47px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.7;
  width: 120px;
  height: 45px;
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  color: #fff;
  transition: bottom .3s;
  /*    -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);*/
}
.collapse .jump-panel-toggle  {
  /*    -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);*/
}
.jump-panel-table-wrapper {
  overflow: auto;
  max-height: 500px;
}
.jump-panel-table {
  width: 100%
}
.jump-panel-table .question {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: transparent;
  color: #ddd;
  text-align: center;
}
.examDivBottomMenu {

  padding: 5px;
}
#showAnswer{
  background: #888888;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 10px;
  display: none;
  font-size: 20px;
}
.loadBtnInsert{
  vertical-align: middle;
}

#btnLeftMenu {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: transparent;
  color: #ddd;
  text-align: center;
  font-size: 14px;
}
.insertAnswer{
  height: 50px;
  font-size: 20px;
  padding: 10px 0px 0px 20px;
  width: 100px;
  border: 1px solid rgba(56, 51, 52, 0.23);
  color: #040404;
  background: rgba(167, 167, 167, 0.42);
  opacity: 0.9;
  cursor:pointer;
}

.insertAnswer .fa-check{
  font-size:10px;
  color: rgba(255, 255, 255, 0.44);
}
#frameLeftMenu{
  left: 0;

  position: fixed;
  overflow: auto;
  width: 250px;
}
#backgroundDoExam{
  min-height: 500px;
  padding-top: 60px;
  /*    padding: 50px 0 0 20px;*/
}
.sidebar-toggle{
  display: none;
}
.frameClickAnswer{
  height: auto;
  background: rgba(255, 255, 255, 0.98);
  padding: 20px 0 0 0;
  border-bottom: 3px solid #cccccc;
  vertical-align: text-bottom;
  font-size: 20px;
  font-weight: 800;
  color:#222D32;
  -webkit-box-shadow: inset 0px -12px 21px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -12px 21px -17px rgba(0,0,0,0.75);
  box-shadow: inset 0px -12px 21px -17px rgba(0,0,0,0.55);
}
.img-circle{
  margin-top: -7px;
}

.text-header{

  font-size:28px;
  color:#FFF;
  display: block;
  margin: 0 0 -50px -200px;
}
.text-header span{
  margin: 0 0 0 30%;
}
.other{
  display: none;
  font-size: 18px;
  text-overflow: ellipsis;
}
.show-data{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
.header-box{
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: -25px;
}
.subject{
  -moz-box-shadow: 7px 7px 7px #ccc;
  -webkit-box-shadow: 7px 7px 7px #ccc;
  box-shadow: 7px 7px 7px #ccc;
}
.box-subject{
  margin: 50px 0 0 0;
}
.list-menu{
  margin: 10px 0 0 10px;
  white-space: normal;
  text-align:justify;
}
.list-menu a i{
  padding-right: 10px;
}
.list-menu:hover{
  background-color: #c36766;

}
.list-menu:hover>li>a {
  color: #fff !important;
}
.subject-new{
  position: absolute;
}
.logo-subject{
  text-align: center;
}
.button-new-subject a{
  background-color: #FFC;
  padding-left: 20px;
}
.comingsoon{
  text-align: center;
}
.comingsoon img{
  width: 80%;
}
.info-box-text{
  font-size: 16px;
}
.navbar-nav  li  a{
  font-size: 18px;
}
.header-main{
  width: 100%;
}
.mini-header{
  display: none;
}
.tb-ex-left{
  width: 100%;
}
.tr-ex-head{
  font-size: 20px;
  text-align: center;
  padding: 0 0 15px 0;
}
.td-ex-body{
  width: 50%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.an-ti-show{
  font-size: 18px;
  width: 250px;
  word-wrap: break-word;
  line-height:20px;

}
#insert-answer{
  cursor: pointer;
}
#insert-answer:hover{
  font-weight: 800;
  color: #909090;
}
.jump-panel-title{
  margin: 5px 15px 10px 0px;
  float: right;
  border: 1px solid;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: 800;
  color: #afafaf;
}

.div-submit-exam-mobile,.div-rescore-exam-mobile,.frame-submit-mobile{
  float: right;
  height: 50px;
  width: 94px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background: #007E00;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.image-profile{
  text-align: center;
}
.image-profile img{
  border-radius: 5px;
  border:solid 1px #AAA;
  width: 200px;
  height: auto;
  box-shadow:8px 8px 4px #888888;
}
.frame-exam{
  margin-top: 50px;
}
.exam-title{
  font-size: 18px;
  float: left;
  background: #d2d6de;
  padding-left: 10px;
  padding: 15px;
  border-radius: 3px;
  margin-top: -10px;
  padding-right: 35px;
}

#page-exam .breadcrumb{
  margin:50px -35px;
  width: 100%;

}
.guide{
  margin-left: 10%;
  text-align: center;
}
.guide-box{
  margin: 10px 0 10px 0; 
}
.guide-box .col-md-3{
  text-align: center;
}
#explanation-exam {
  padding: 10px;
  background-color: rgb(198, 208, 228);
}
.div-submit-exam-mobile {

  padding-top: 10px;
}
.wrapper-teacher {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /*background: #ecf0f5;*/
  z-index: 1600;
}
.teacher-img {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  /*box-shadow: 5px 5px 20px 1px #959595;*/
}
.teacher-header {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}
.teacher-body-content {
  padding-top: 10px;
}

/* Main Styles */
.button-teacher {
  display: block;
  background-color: #7daa57;
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  color: #fff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  /*  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);*/
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button-teacher span,
.button-teacher .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button-teacher span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button-teacher span:after {
  content: '';
  background-color: #007E00;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button-teacher .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button-teacher .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button-teacher .icon .fa-remove {
  height: 36px;
}
.button-teacher .icon .fa-check {
  display: none;
}
.button-teacher.success span, .button-teacher:hover span {
  left: -72%;
  opacity: 0;
}
.button-teacher.success .icon, .button-teacher:hover .icon {
  width: 100%;
}
.button-teacher.success .icon .fa, .button-teacher:hover .icon .fa {
  font-size: 45px;
}
.button-teacher.success {
  background-color: #27ae60;
}
.button-teacher.success .icon .fa-remove {
  display: none;
}
.button-teacher.success .icon .fa-check {
  display: inline-block;
}
.button-teacher:hover {
  opacity: .9;
}
.button-teacher:hover .icon .fa-remove {
  height: 46px;
}
.button-teacher:active {
  opacity: 1;
}
body.login-page.skin-blue {
  /*background: #c4697b !important;*/
  background: url('../uploads/static/bg-login.jpg') ;
  background-repeat: no-repeat ;
  background-size: auto 140% ;
  background-position: center;
}
.wrapper-login-box {
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #080307;
}
.form-group.has-success label {
  color: #2e9345 !important;
  font-size: 12px !important;
}
.login-box-footer>button {
  background: #1f683a !important;
}
.main-sidebar::-webkit-scrollbar-track {
  background-color: #ebebeb !important;
  border-left: 1px solid #ebebeb !important;
}
.skin-blue .sidebar a {
  color: #696969 !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
  background: #c2c2c2 !important;
  color: #fff !important;
  border-left: 1px solid #6b2942;
}
.wrapper-select-question {
  width: 100%;
  padding: 5px 5px 5px 30px;
  border-radius: 3px;
  margin: 5px 0;
  cursor: pointer;
}
.wrapper-select-question .flex-select-question {
  background: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  height: 125px;
  overflow: hidden;
}
.flex-select-question>.left {
  flex-grow: 1;
  border-right: 1px solid #d8d8d8;
  padding: 5px 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative
}
.flex-select-question>.left>img {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  height: 53px;
  width: auto;
}
.flex-select-question>.right {
  flex-grow: 2;
  padding: 5px 15px;

}
.wsq-green {
  background: #439276 !important;
}
.wsq-orange {
  background: #f38f55 !important;
}
.wsq-gray {
  background: #a1a1a1 !important;
}
span.wrapper-logo {
  display: flex;
  flex-direction: row;
}
span.wrapper-logo>.right {
  font-size: 12px;
  text-align: left;
  line-height: 18px;
  padding-top: 6px;
  padding-left: 10px;
}
span.wrapper-logo>.left {

}
span.wrapper-logo>.left>img {
  width: auto;
  height: 45px;
}
.carousel-indicators>li {
  border-color: #000 !important;
}
#not-p p {
  display: inline-block !important;
}
.frame-exam  {
  margin-top: 0 !important;
}
img.mfp-img {
  width: 100vh !important;
  height: 100% !important;
}

@media (max-width:991px){
  .exam-title{
    background: none;
  }
  #page-exam .breadcrumb{
    margin:50px 0 0 14px;
    width: 100%;
  }
  #page-exam .content{
    margin-top:0;
  }
}

@media (max-width:767px){
  #page-exam .breadcrumb{
    margin:50px -35px;
  }
  .main-content{
    margin-top: 100px;
  }
  #mainLogo{
    display: none;
  }
  .guide{
    text-align: left;
    margin-left: 5%;
  }
  footer{
    margin-left: 5%;
    width: 100%;
    margin-right: 5%;
  }
  .mini-header{
    display: block;
    float: left;

  }
  .other{
    display: block;
  }
  .comingsoon img{
    width: 100%;
  }
  .text-header{
    font-size:28px;
    color:#FFF;
    display: block;
  }
  .text-header span{
    margin: 0 0 0 20%;
  }
  .box-subject{
    margin: 100px 0 0 0;
  }
  .sidebar-toggle{
    display: block;
  }
  .main-sidebar{
    margin-left: -5px;
  }
  #inputRadio{
    font-size: 18px;
    -webkit-border-radius: 2px;

  }
  .headerExam .box-title {
    font-size: 20px !important;
  }
  .frameExam .col-sm-5 {
    padding: 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .frameScrollBar {
    visibility: hidden;
  }
  .frameExamBody aside .main-siderbar {
    /*//width: 50px!important;*/
  }
  .frameAsideRight #AsideRight {
    margin-right:0;
  }
  .tab-pane active{

  }
  .jump-panel,
  .jump-panel-toggle {
    display: block;
  }
  #showAnswer{
    font-size: 19px;
  }
  .frame-exam .col-md-10{
    padding: 0 5px 0 0;
  }
  .skin-blue .main-header .logo{
    /*display: none;*/
  }
  .div-submit-exam-mobile,.frame-submit-mobile{
    display: block;
  }
  #page-exam .breadcrumb{
    margin: 50px 0 0 0 ;
  }
  #page-exam .content{
    padding-top: 0;
  }
}
@media (max-width:500px){
  .text-header span{
    margin: 0 0 0 10%;
  }
  .guide{
    text-align: left;
    margin-left: 5%;
  }

}

@media (max-width:350px){
  .text-header span{
    margin: 0 0 0 5%;
  }
}

.main-menu{
  display: none;
}
.login-page-link {
  margin-top: 10px;
}
.main-header .logo {
  width: 250px;
}
.main-header .navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 250px;
  border: none;
  min-height: 50px;
  border-radius: 0;
}
.content.main-content #w0, .content.main-content .site-error {
  padding-top: 50px;
}
.site-error {
  padding-left: 30px;
}
.date-modal {
  width: 750px;
  color: #d53c31; 
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, 20%) !important;
}
#wrapper-module-exam {
  padding-left: 27px;
  padding-top: 50px;
}
@media (max-width: 990px) {
  .modal-dialog {
    margin: 0 !important
  }
}
@media (max-width: 767px) {

  .main-header .navbar {
    margin: 0;
  }
  .main-header .logo {
    width: 100%;
  }
  .main-sidebar, .left-side {
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
  }
  .date-modal{
    width: 100%;
    left: 0;
    /*transform: none !important;*/
    font-size: 15px;
    margin: 10px 0 0 0;
    transform: translate(0, 20%) !important;
  }
}

@media (max-width: 500px){
  .title-modal-exam {
    /*    top: auto;
        left: auto;*/
  }
  .teacher-detail {
    font-size: 15px;
  }
  .button-teacher {
    width: 220px;
  }
  .teacher-img {
    width: 100%;
  }
  .bg-teacher .circle-teacher {
    width: 170%;
    height: 140%;
    top: -45%;
    left: -35%;
  }
  /*  .date-modal{
      width: 100%;
      left: 0;
      transform: none !important;
    }*/
}
@font-face {
  font-family:Thai Sans Lite;
  src: url(../uploads/font/arial.ttf);
}
/*
@font-face {
  font-family:Thai-Sans-Lite;
  src: url(../uploads/font/thaisanslite.ttf);
}*/
.main-sidebar, .left-side {
  position:fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  padding-top: 50px;
  height: 100%;
  width: 250px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.main-sidebar::-webkit-scrollbar {
  width: 8px;
}
.main-sidebar::-webkit-scrollbar-track {
  background-color: #222d32;
  border-left: 1px solid #222d32;
}
.main-sidebar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}
.main-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.load-score{
  font-size: 40px;
  text-align: center;
  margin: 0 0 0 0;
  line-height: 45px;

}
title-ex-left{
  margin: 0 0 10px 0;
  display: none;
}
.tb2-ex-left{
  width: 100%;
  border-top: 1px solid #dcdee3;
  border-bottom: 1px solid #dcdee3;
  margin:10px 0 0 0;
  display: none;
}
.form-control {
  font-size: 18px;
}
.position-quesiton-image{
  text-align: center;

}
.position-quesiton-image img{
  max-width: 100%
}
.frame-monitor {
  padding-left: 20px;
}
.background-monitor{
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
}
#btn-search-monitor{
  height: 31px;
  padding-top:  1px;
  margin-left: 0;
}
.insert-email-monitor{
  width: 300px;
}
.tb-head-monitor{
  font-weight: 800;
}
.headerExam .box-title{
  line-height: 1.5;
}
.skin-blue .main-header .logo {
  background-color: #1f683a !important;
}

.skin-blue .main-header .navbar {
  background-color: #33984a !important;
}
.content-wrapper {
  background: #e8f2d9;
}
#thumbnail-exam-module {
  padding: 5px;
}
.title-top-nav {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #fff;
}

@media(min-width: 1840px) {
  .login-page {
    background-size: 100% auto;
  }
}